<h1>Sign In</h1>

<%#= form_with url: "/api/v1/auth/signin", method: :post do |form| %> 
<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
        <%# To display validation error %>
        <% @user.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :password %><br>
        <%= form.password_field :password %>
        <%# To display validation error %>
        <% @user.errors.full_messages_for(:password).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit "sign in" %>
    </div>
<% end %>